#root {
    .header {
        width: 100;
        top: 0;
        background-color: white;
        .wrapper {
            margin: 0 auto;
            width: 1000px;
            height: 53px;
            align-items: center;
            justify-content: space-between;
            display: flex;

            .logo {
                width: 124px;
                align-items: center;
            }
            .navigation {
                .nav-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 30px);
                    column-gap: 10px;
                    .nav {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}